// Color variables

$color-white   :   #ffffff;
$color-black   :   #333333;
$color-grey    :   #666666;
$color-orange  :   #ff9900;
$color-transparent-white  : rgba(255, 255, 255, 0.2);



// Font stacks
$font-main  :     Helvetica, Arial, sans-serif;
